/* Projects Section */
#projects{
    padding:60px 20px;
    background:#181818;
    text-align:center;
}

#projects h2{
    margin-bottom:30px;
    font-size:30px;
}

/* Cards Layout */
.projects-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

/* Project Card */
.project-card{
    background:#242424;
    padding:20px;
    width:280px;
    border-radius:10px;
    transition:0.3s;
    opacity:0;
    transform:translateY(40px);
}

/* Hover Effect */
.project-card:hover{
    transform:translateY(-8px) scale(1.02);
    box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

.project-card a{
    display:inline-block;
    margin-top:10px;
    color:#00aaff;
    text-decoration:none;
    font-weight:bold;
}

/* Animation Active */
.project-card.show{
    opacity:1;
    transform:translateY(0);
}

/* Mobile */
@media(max-width:600px){
    .projects-container{
        flex-direction:column;
        align-items:center;
    }
}
