
body{
    margin:0;
    font-family:Arial;
    background:#121212;
    color:white;
    scroll-behavior:smooth;
}

/* Navbar */
header{
    background:#000;
    position:fixed;
    width:100%;
    top:0;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:15px 40px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

nav a.active{
    color:#00aaff;
}

/* Hero Section */
.hero{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/* About Section */
#about{
    padding:60px 20px;
    text-align:center;
}

/* Skills Section */
.skills-container{
    display:flex;
    justify-content:center;
    gap:20px;
}

.skill-card{
    background:#1e1e1e;
    padding:15px 25px;
    border-radius:8px;
    transition:0.3s;
}

.skill-card:hover{
    transform:scale(1.1);
}

/* Projects Section */
.projects-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

.project-card{
    background:#1e1e1e;
    padding:20px;
    width:250px;
    border-radius:10px;
    opacity:0;
    transform:translateY(40px);
    transition:0.5s;
}

.project-card.show{
    opacity:1;
    transform:translateY(0);
}

/* Contact Section */
#contact form{
    max-width:400px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

input, textarea{
    padding:10px;
    background:#1e1e1e;
    border:1px solid #444;
    color:white;
}

button{
    background:#00aaff;
    border:none;
    padding:10px;
    color:white;
    cursor:pointer;
}

.error{color:red;font-size:12px;}
#successMsg{color:lightgreen;}

/* Footer Section */
#footer{
    background:#000;
    padding:20px;
}

/* Scroll Button */
#topBtn{
    position:fixed;
    bottom:20px;
    right:20px;
    display:none;
    background:#00aaff;
    border:none;
    color:white;
    padding:10px;
}
